@import '../../scss/index.scss';
.vacation-plan{
    
    &-content{ 
    
        margin-top: 0;
        background-color: #ffffff;
        width: 100%;
        justify-content: center;
        text-align: center;


        &-hotel-info{
            
            margin-top: 0;
            background-color: #fff;
        }
        h1{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            font-size: 40px;
        }
        &-highlight-plan{
            z-index: 3;
            width: 100%;
            height: 100%;
            background-color: $primary-color;
            justify-content: center center;

            .vacation-plan{
                margin-bottom: 0 !important;
                margin-top: 0;
                padding: 20px ;
                background-color: transparent;
                border: 0;

                h2{
                    color: #fff;
                    font-family: Arial, Helvetica, sans-serif;
                }

                &-item{
                    box-shadow: none;//borde entre cards
                    width: 25%;//4 objetos
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 18px;
                    color: #fff;
                    @media(max-width: $media-breakpoint-down-md){
                        width: 100%;
                    }


                    ion-icon{
                        font-size: 64px;
                    }
                }
            }
        }
    }
}

.extra-activities{
    margin-top: 0 °!important;
    padding-top: 20px;
    h1{
        color: #fff;
        @media(max-width: $media-breakpoint-down-sm){
            font-size: 40px;
        }

    }
    p{
        color: #fff;
        font-size: 27px;
        font-family: Arial, Helvetica, sans-serif;
        @media(max-width: $media-breakpoint-down-sm){
            font-size: 20px;
        }

    }
    height: 450px;
    background-image: url('../../assets/img/extra-activities.png');
    &-text{
        margin-left: auto;
        margin-right: auto;
        background-color: #0000;
        

    }
    &-btn{
        background-color: $primary-color;
        height: 60px;
        width: 30%;
        @media(max-width: $media-breakpoint-down-sm){
            width: 50%;
        }

        span{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            @media(max-width: $media-breakpoint-down-sm){
                font-size: 15px;
            }
        }
    }
}

.banner-img{
    background-image: url('../../assets/img/wave-background-home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 480px;
    text-align: center; 
    align-items: center;
    padding-top: 80px;

    h1{
        font-size: 30px;
        color: #ffffff;
    }

    h2{
        font-size: 25px;
        color: #ffffff;
    }

    svg{
        color: #ffffff;
        font-size: 50px;
        transform: rotate(90deg);

            &:hover{
                color: $primary-color;
            }
    }
}