@import '../../../scss/index';

.navigation-footer{

    h3{
        color: #fff;
        font-weight: bold;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
           
    }

}

ul{
    padding: 5px;


    li{
   
        list-style: none;
        padding: 5px 0;

        a,Link{
            font-family: Arial, Helvetica, sans-serif;
            color: $primary-color;

            &:hover{
                color: $primary-color-hover;
            }
        }

        svg{
            margin-right: 10px;
        }
    }
}