@import '../../scss/index.scss';


.sign-in{
  position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center center;
    

    
    &__content{
        
        text-align: center center;
        display: flex;
        flex-direction: column;
        align-items: center; 

    }

}

.ant-card-body{ 
    text-align: center;
    h1{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 40px;
       font-weight: bold;
    }
    
}

.login-background{
    background-color: black;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute; 
    background-size: cover;
    background-position: center center;
}
.login-content{
    overflow: hidden;
    min-height: calc(100vh - 105px);
    padding: 90px 25px 0 25px;
    margin-right: auto;
    justify-content: center;
}