@import '../../../scss/index.scss';


.login-form{
    text-align: left;
    padding: 20px 40px 20px 40px !important;
    background-color: #fff !important;

    .ant-form-item{
        &:nth-child(5),
        &:last-of-type {
            margin: 0;
        }
    }

    &__input{
        .ant-input-prefix{
            i {
                font-size: 0em + 22px / $defaultFontSize;
            }
        }
        input{
            font-size: 0em + 20px/$defaultFontSize;
           &:focus{
               border-color: $primary-color;
               box-shadow: none;
           }
        }

    }
    &__button{
        width: 100%;
        font-size: 0em +22px / $defaultFontSize;
        background-color: $primary-color;
        color: #fff;
        height: 42px;

        &:hover{
            background-color: $primary-color-hover;
            color: #fff;
        }

        &:focus,
        &:active{
            background-color: $primary-color;
            color: #fff;
        }
    }
}