@import '../../scss/index.scss';

.layout-basic{
  /*  background-color: $background-primary;
    min-height: 100vh;*/
    &__menu-top{
      background-color: transparent !important;
      z-index: 3;
    }
}