.layout-admin {
    transition: margin-left 0.2s;
  
    &__header {
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      padding: 0;
      height: 65px;
    }
  
    &__content {
    overflow: hidden;
      min-height: calc(100vh - 65px);
      padding: 90px 25px 25px 25px;
     // display: flex; util para cel
     // flex-wrap: wrap;
        
    }
  
    &__footer {
      padding: 20px;
      margin-left: 40%;
    }
  }