.user-info{
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: calc(85vh - 110px);
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    background-color: #ffffff;


}