@import '../../../scss/index.scss';
.ant-menu-horizontal{
    border: 0 !important;
}
.bar{
    background-color:transparent !important;
}
.menu-top{
    display: none;
    position: sticky;
    height: 60px;
    top: 0; 
    border: 0;
    display: flex;
    align-items: center;
    z-index: 3;

    
    background-color:transparent !important;

    display: flex;
    align-items: center;
    

    right: 0;

    &__space{
        margin-right: 30%;
    }
   
    

    .menu-item-login{
        border: 0 !important;
        justify-content: center !important;
        text-align: center !important;
        align-content: center !important;
        .menu-top__button{
            background-color: $primary-color;
            color:#fff;
            border: 0;

            &:hover{
                background-color: $primary-color-hover;
                border: 1 $primary-color;
                color: $primary-color;
            }
        }
    }


    li{
    

        &:hover{
            border-color: $primary-color-hover !important;    
        }

        a{
            
            font-family:  'Helvetica' !important;
            font-size: 16px !important;
            color: $primary-color !important;
           

         &:hover{
                color: $primary-color-hover !important;    
            }
        
   
        }

        
    }

    &__logo{
        border: 0 !important;
        padding: 10px;
    
        img{
            width: 200px;
            
        }
    }

   
}

