@import '../../scss/index.scss';

.count-down{
    
    &__card{
        text-align: center;
        background-color: #ffffff;
        width: 100%;
        align-items: center !important;
        align-content: center !important;
        justify-items: center !important;
        text-align: center !important;
        &-date{
            border-radius: 25px ;
            width: 25%;
            @media(max-width: $media-breakpoint-down-xs){
                width: 100%;
            }
        }
        h1{
            font-size: 40px;
            font-weight: bold;
            text-transform: uppercase;
            @media (max-width:$media-breakpoint-up-md){
                font-size: 24px;
            }
        }
        h2{
            
            text-align: center;
            font-size: 30px;
            @media (max-width:$media-breakpoint-up-md){
                font-size: 18px;
            }
            @media (max-width:$media-breakpoint-down-sm){
                font-size: 15px;;
            }
        }        
    }

}

.ant-card-grid{
}