.ant-pagination-item-link{
    height: 40px !important;
    background-color: transparent !important;
    border: 0 !important;
    justify-content: center !important;
    text-align: center !important;
}

.ant-pagination-item{
    height: 40px !important;
    background-color: transparent !important;
    border: 0 !important;
    justify-content: center !important;
    text-align: center !important;

}