@import '../../../scss/index.scss';

.upload-avatar{
    display: table;
    margin: 0 auto;
    border: 4px solid $primary-color;
    border-style: dashed;
    border-radius: 100px ;
    padding: 10px;
    margin-bottom: 20px;
}

.form-edit{
  

    .ant-form-item{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .btn-submit{
        background-color: $primary-color;
        width: 100%;
        &:hover{
            background-color:$primary-color-hover;
        }
    }
}