@import '../../scss/index.scss';

.home{
    &-main-banner{
        top: -1px;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url('../../assets/img/home-banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        &__dark{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.5;
        }
        .ant-row{
            display: flex;
            align-items: center;
            height: 100%;
            text-align: center;
            

            h2{
                @media (max-width:$media-breakpoint-down-sm){
                    font-size: 28px;

                }
            
                
                padding-left: 20px;
                color: #ffffff;
                font-size: 50px;
                font-weight: bold;
                line-height: 1;
            }

            h3{
                @media (max-width: $media-breakpoint-up-xs){
                    font-size: 20px;
                

                }
                font-family: Arial, Helvetica, sans-serif;
                padding-left: 20px;
                color: #fff;
                font-size: 24px ;
            }
            
        }
        &-btn{
            background-color: $primary-color;
            height: 50px;
            width: 150px;
            font-size: 15px;
            &:hover{
                background-color: $primary-color-hover;
                color: $primary-color;
            }
        }
    }

    &-content{
        position: relative;
        background-color: #ffff;
        margin-top: 500px;
        padding-top: 20px;
        width: 100%;
        height: 100%;

        &-destination{
            line-height: 30%;
            .ant-row{
                width: 100%;
                display: flex;
                align-items: center;
                height: 100%;
                text-align: center;
            }
            p{
                color: $primary-color;
                font-weight: bold;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                
            }
            h3{
                @media (max-width: $media-breakpoint-down-lg){
                    font-size: 20px;
                

                }
                font-size: 40px;
                font-weight: bold;
                font-style: italic;
            }
            &-img{
                width: 100%;
            }

        }

        &-details{
            background-image: url('../../assets/img/wave-background-home.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 480px;
            text-align: center; 
            align-items: center;
            padding-top: 80px;

            @media (max-width: $media-breakpoint-down-lg){
                height: 100%;
                font-size: 15px; 
            }

            h2{
                color: #ffff;
                font-family: Arial, Helvetica, sans-serif;
                font-style: italic;
                font-weight: bold;
                font-size: 30px;
                @media (max-width: $media-breakpoint-down-lg){
                    font-size: 20px; 
                }
    
            }
            .content-process-card-grid{
                width: 100%;
                
                &-item{
                    @media (max-width:$media-breakpoint-down-sm){
                        width: 100%;
            
                    }
                    box-shadow: none;//borde entre cards
                    width: 33.33%;//4 objetos
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 18px;
                    //color: $primary-color;
                    p{
                        color: #ffff;
                    }   
                }
            }

            ion-icon{
                color: #ffff;
                font-size: 50px;
            }
        }
        &-promotion{
            margin-top: 30px;
            margin-bottom: 30px;
            text-align: center; 
            align-items: center;
            
            h1{
                font-style: italic;
                font-weight: bold;
                color: $primary-color;
                @media (max-width: $media-breakpoint-down-lg){
                    font-size: 25px; 
                }
            }
            h3{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 20px;
            }

            .PRIMER{
                background-image: url('../../assets/img/home-prom-1.png');
            }
            .SEGUNDA{
                background-image: url('../../assets/img/home-prom-2.png');
            }
            .ULTIMA{
                background-image: url('../../assets/img/home-prom-3.png');
            }
            
            
            margin-left: 50px;
            .content-process-card-grid{
                width: 100%;
                
                &-item{
                    background-position: center center;
                    background-size: cover;
                    @media (max-width:$media-breakpoint-down-sm){
                        width: 100%;
                    };
                    margin-top: 10px;
                    margin-right: 10px;
                    box-shadow: none;//borde entre cards
                    width: 30%;//3 objetos
                    height: 240px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 18px;
                    //color: $primary-color;
                    h2{
                        @media (max-width:$media-breakpoint-down-sm){
                            font-size: 20px;
                        }  
                        color: #fff;
                        font-weight: bold;
                        font-size: 25px;
                    }
                    p{
                        color: #ffff;
                        font-size: 12px;
                    }   

                    ion-icon{
                        color: #ffff;
                        font-size: 50px;
                    }

                }
            }

            &-btn{
                @media (max-width:$media-breakpoint-down-sm){
                    margin-right: auto;
                }
                width: 250px;
                height: 60px;  
                margin-right: 70px;      
                background-color: $primary-color;
                border: 0;
                color: #ffff;
        
                &:hover{
                    background-color: #ffff;
                    color: $primary-color;  
                    border: 1px solid $primary-color;
                }

                span{
                    font-size: 20px;
                }
            }
        }
    }

    
}