@import '../../scss/index.scss';

h2{
    font-size: 30px;
}

.ant-card{
    margin-left: 10px;
    margin-bottom: 10px;

    &-meta-title{
        color: $primary-color;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
}

.ant-row{
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-see-more{
    background-color: $primary-color;
    border: 0;
}