@import '../../../../scss/index.scss';
.info-trip-room{

    @media (max-width:$media-breakpoint-down-sm){
        
            font-size: 20px !important;
        
    };

    .ant-card-body{
        width: 100% !important;
    }
}

.content{
    width: 100%;
}