@import '../../../scss/index.scss';
.newsletter{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;

    h3{
        color:#fff;
        font-weight: bold;
    }

    input{
        height: 25px;
        font-size: 15px;
    }

    
    button{
        
        background-color: $primary-color !important;
        width: 100%;
        height: 35px;
        font-size: 15px;

        &:hover{
            background-color: $primary-color-hover !important;
            color: $primary-color;
        }
    }
}