@import '../../../scss/index.scss';


.my-info{
  margin-right: 8px;
  img{
      width: 200px;
      margin-bottom: 20px;
  }  
  h4{
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 20px;
      color: $primary-color-grey;
  }

}