@import '../../scss/index.scss';

.user-home{
    
    
    @media (min-width:$media-breakpoint-down-sm){
        height: 400px;
    };

    .payment{
        @media (max-width:$media-breakpoint-down-sm){
            font-size: 15px;
        };
    }


    &__count-down{
        position: static !important;
    }
    &__progress-bar{
        top: 800px;
        position: static !important;
    }
}