@import '../../../scss/index.scss';
.register-form{
    h2{
        color: $primary-color-grey;
    }
    padding-left: 90px !important;
    padding-right: 90px !important;
    @media (max-width:$media-breakpoint-down-sm){
        padding-left: 10px !important;
        padding-right: 10px !important;
    };
    
    .ant-row{
        justify-content: center;
    }
    
    .btn-quotation{
        width: 110%;
        height: 40px;
        background-color: $primary-color;
        border: 0;

        @media (max-width:$media-breakpoint-down-sm){
            width: 90%;
        };

        &:hover{
            background-color: #ffff;
            border: 1px solid $primary-color;
            color: $primary-color
        }
    }
    .select-item{
        width: 90%;
        
    }
    .cupon{
        text-align: right;
        
        &-code{
            margin-left: 50%;
            width: 30%;
            @media (max-width:$media-breakpoint-down-lg){
                margin-left: 30%;
            width: 60%;
            };
        }
        
    }
}