@import '../../../scss/index.scss';

.menu-top-mobile{
    top: 0;
    display: flex;
    height: 60px;
    position:fixed;
     width:100%; 
     z-index:3;
    background-color: #000000;
    
    &_left{
       
        button{
            
            padding: 25px;
            height: 40px;
            background-color: transparent;
            border: none;
            .icon{
                color: #ffffff;
                font-size: 20px;
            }
        }
        a{
            color: #fff;

            &:hover{
                color: $primary-color-hover;
            }
        }
        .bm{
            &-cross{
                background: #ffff; 
                margin-top: 7px;
                
                &-button { 
                    height: 25px;
                    width: 25px;
                }
            }
            &-menu {
                margin-top: 7px;
                background-color: #000000;
                opacity: 0.9;
                padding: 1em 1em 0;
                font-size: 1.5em;
                    
                &-wrap {
                    position: fixed;
                    height: 100%;
                }
            }
        &-item {
                display: inline-block;
                &-list {
                    color: #b8b7ad;
                    padding: 1em;
                }
                &-button{
                    background-color: #fff;
                }
            }
        &-overlay {
                background: rgba(0, 0, 0, 0.3);
                margin-top: 10px;
            }
        }
    }

   
    &_right{
        position: absolute;
        right: 0;
        padding: 10px 20px;
        img{
            width: 200px;
            
        }
    }

 
}
  

.Login{
    margin-top: 300px;
    bottom: 0;
    margin-bottom: 0 !important;
}