@import '../../scss/index.scss';

.main-banner{
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../../assets/img/Banner-wave-process.png');
    background-size: cover;
    background-position: center center;
    @media (max-width:$media-breakpoint-down-xl){//Baner ipad Pro
       
        height: 500px;

    }
}
    
.content-process{
    &-descriotions{
        @media (max-width:$media-breakpoint-down-sm){
            margin-top: 400px;
    
        } 
        @media (max-width:$media-breakpoint-down-xl){
            margin-top: 400px;
    
        } 
    }
    @media (max-width:$media-breakpoint-down-sm){
        margin-top: 600px;
        height: 700px;

    }
    @media (max-width:$media-breakpoint-down-xl){
        margin-top: 10px;
        height: 300px;

    }

    margin-top: 100px;
    height: 500px;
    .ant-row{
        text-align: center;
        display: flex;
        height: 100%;
        

        h1{
            @media (max-width:$media-breakpoint-down-sm){
                font-size: 28px;

            }
           
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            padding-left: 20px;
            color: #ffffff;
            font-size: 40px;
            font-weight: bold;
            line-height: 1;
        }

    }
 
    &-card{
        text-align: center;
        
    }

    .content-process-card-grid{
        width: 100%;
        &-item{
            @media (max-width:$media-breakpoint-down-sm){
                width: 100%;

            }
            box-shadow: none;//borde entre cards
            width: 25%;//4 objetos
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            //color: $primary-color;
            
        }
    }

    svg{
        color: $primary-color;
        font-size: 50px;
    }
}

.process-item{
    svg{
        color: $primary-color;
        font-size: 50px;
    }
}

.process-description{
    text-align: center;
    padding-bottom: 100px;

    h4{
        font-size: 20px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    &__btn{
        background-color: $primary-color;
        height: 40px;
        width: 200px;
        color: #fff;
        border: 0;

        &:hover{
            background-color: #fff;
            color: $primary-color;
            border: 1px solid $primary-color;
        }
    }
    
}
.Disfruta{
    height: 400px;
    padding-top: 40px; 
    padding-bottom: 100px;
    border: 0;
    background-image: url('../../assets/img/background-enjoy.png');
    background-position: center center;
    background-color: white !important;

}
