@import '../../scss/index.scss';

.footer{
    position: sticky;
    height: auto;
    color: #fff !important;
    background-color: #000 !important;
    border-top: 3px solid $primary-color;

    &__copyright{
         
          margin-top: 30px;

          .ant-col{
              
            color: #fff !important;

              &:last-of-type{
                  text-align: center;
              }
          }
    }
}