@import '../../../scss/index.scss';
.menu-top{
    display: flex;

   

    button {
        background-color: transparent;
        color: $primary-color-light;
       
        & :hover{
            color: $primary-color;
        }
        &  :active{
            color: $primary-color-light;
        }
    }

    &__left{
        &-logo{//logon a la izquierda
            width: 200px;
            padding: 0 10px;
        }
    }

    &_right{
        position: fixed !important;
        right: 0 !important;
    }


}