$defaultFontSize: 16px;

$primary-color: #00D3FF;
$primary-color-hover: #C1F4FF;
$primary-color-light: #C1F4FF;
$primary-color-dark: #000;
$primary-color-grey: #c7c7c7;


//backgroun icons social media
$youtube: #cd201f;
$twitter: #1da1f2;
$facebook:#3b5998;
$linkedin:#0077b5;
$instagram:#EFEDF2;

//social media admin panel
$socialm-height-admin:40px;
 $socialm-width-admin:40px;



$background-primary: #00D3FF;
$background-dark: #000;
$background-light: #fff;

$sucess: #84b84c;
$error: #f00;

//Responsive down size
$media-breakpoint-down-xs: 413.98px;
$media-breakpoint-down-sm: 501.98px;
$media-breakpoint-down-md: 734.98px;
$media-breakpoint-down-lg: 991.98px;
$media-breakpoint-down-xl: 1199.98px;

//Responsive up size
$media-breakpoint-up-xs: 320px;
$media-breakpoint-up-sm: 576px;
$media-breakpoint-up-md: 735px;//iphone 6
$media-breakpoint-up-lg: 992px;
$media-breakpoint-up-xl: 1200px;


