@import '../../scss/index.scss';

.card-item{
    width: 50%;

    @media (max-width:$media-breakpoint-down-sm){
        width:  100%;
    };

}

.ant-card-grid-hoverable{
    z-index: 0 !important;
}