@import '../../scss/index.scss';
.Main-Banner-Video{

    &-banner{
        margin: 0 0 0 0 ;
        top: -1px;
        z-index: -2;
        left: 0;
        width: 100% !important;
        height: 40% !important;
        position: absolute;
        background-size: cover;
        background-position: center center;
        @media (max-width:$media-breakpoint-down-xl){//Baner ipad Pro
           
            height: 500px;
    
        }
    }
    &-shape{
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
    }
    
    &-short-video{
        position: absolute;
        top: 658px;
        left: 0;
        width: 100%;
        height: 1400px;
        background-color:#fff;
    }
    
    &-content{
        height: 540px;
    }

    
    &-text{
        @media (max-width:$media-breakpoint-down-sm){
            margin-top: 10px;
            height: 700px;
    
        }
        @media (max-width:$media-breakpoint-down-xl){
            margin-top: 10px;
            height: 300px;
    
        }
    
        margin-top: 100px;
        height: 500px;
        .ant-row{
            text-align: center;
            display: flex;
            height: 100%;
            
    
            h1{
                @media (max-width:$media-breakpoint-down-sm){
                    font-size: 28px;
    
                }
               
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: bold;
                padding-left: 20px;
                color: #ffffff;
                font-size: 50px; 
                line-height: 1;
            }

            h2{
                @media (max-width:$media-breakpoint-down-sm){
                    font-size: 20px;
    
                }
               
                font-family: Arial, Helvetica, sans-serif;
              
                padding-left: 25px;
                color: $primary-color-grey;
                line-height: 1;
            }
    
        }
        svg{
            font-size: 50px;
            color: $primary-color-grey;
            transform: rotate(90deg);

            &:hover{
                color: #fff;
            }
        }

    }
}